name: Test

on:
  workflow_dispatch:
  repository_dispatch:
    types: [ connector-release-pipeline]

jobs:
    build:
        runs-on: ubuntu-latest
        # services:
        #   mongodb:
        #     image: mongo:4.2.0
        #     env:
        #       # Following credentials are only used during testing in docker container
        #       MONGO_INITDB_ROOT_USERNAME: admin
        #       MONGO_INITDB_ROOT_PASSWORD: admin
        #   mongodb-ssl:
        #     image: rzhilkibaev/mongo-x509-auth-ssl:latest
        steps:
            - uses: actions/checkout@v2
            - name: Echo data
              run: |
                echo "Connector Version: ${{ github.event.client_payload.connectorVersion }}"
                echo "Ballerina Distribution Version: ${{ github.event.client_payload.ballerinaDistVersion }}"
                echo "Ballerina Lang Version: ${{ github.event.client_payload.ballerinaLangVersion }}"

            - name: Create branch for ${{ github.event.client_payload.ballerinaDistVersion }}
              env:
                GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
              run: |
              git config user.name ${{ secrets.BALLERINA_BOT_USERNAME}}
              git config user.email ${{ secrets.BALLERINA_BOT_EMAIL}}
              git checkout -b ${{ github.event.client_payload.ballerinaDistVersion }}
              git add .
              git commit -m "Create branch ${{ github.event.client_payload.ballerinaDistVersion }}" || echo "No changes to commit"

            - name: Github Release
              env:
                GITHUB_TOKEN: ${{ secrets.BALLERINA_BOT_TOKEN }}
              run: |
                gh release create v${{ github.event.client_payload.connectorVersion }} --title "Ballerina Mongodb Connector ${{ github.event.client_payload.connectorVersion }} released!"
